:root {
  --blue: #2874f1;
  --blue-border: #0d5ea0;
  --grey: #707070;
  --offer: #108934;
  --btn-wieght: 500;
  --shadow: rgba(234, 234, 234, 1);
  --bg: #f0f0f0;
}
body {
  box-sizing: border-box;
}
button {
  background-color: inherit;
  border: none;
}

/* hidden link  */
.hidden-link {
  position: absolute;
  left: 1%;
  top: -40%;
  text-decoration: none;
  background-color: var(--blue);
  color: white;
  border: 2px solid var(--blue-border);
}
.hidden-link:focus {
  top: 2%;
}

/* header  */
header {
  display: flex;
  width: 100vw;
  background-color: var(--blue);
  justify-content: space-evenly;
  padding: 10px 10px;
  gap: 8px;
}
.header-search {
  display: flex;
  gap: 8px;
}
.header-search label {
  visibility: hidden;
}
.header-search svg {
  vertical-align: middle;
}
.search-input {
  display: flex;
  background-color: white;
  border: var(--blue-border);
  padding: 5px;
}
[type="search"] {
  background-color: inherit;
  border: none;
  width: 30rem;
  outline: none;
}
[type="search"]::placeholder {
  color: gray;
  font-size: 0.9rem;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-actions > button {
  background-color: white;
  color: var(--blue);
  border: none;
  margin: 5px 0px;
  width: 5rem;
  font-weight: var(--btn-wieght);
}
.header-actions button:hover {
  background-color: var(--blue);
  color: white;
}
.action-container {
  display: flex;
  gap: 3px;
}
.action-container > a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

/* main  */
main {
  background-color: var(--bg);
  height: 93vh;
  text-align: center;
  overflow-y: scroll;
}
/* categories section  */
.categories {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 60px;
  background-color: white;
  align-items: center;
  box-shadow: 1px 1px 1px 1px var(--shadow);
  overflow-x: scroll;
  padding-left: 20px;
}
.categories::-webkit-scrollbar {
  display: none;
}
.category {
  text-align: center;
  padding: 15px 0px;
  box-sizing: border-box;
}
.category > img {
  margin-bottom: 15px;
}
.category > div {
  display: flex;
}
.category > div > img {
  vertical-align: top;
}
.category h4 {
  font-size: 1rem;
  margin: 0;
  font-size: 14px;
  color: black;
  font-weight: 400;
}
.category:hover h4 {
  color: var(--blue);
}
.categories > a {
  text-decoration: none;
}

/* deals of the day mobile */
.product-list {
  display: none;
  width: 100%;
  padding: 10px;
}
.product-list a {
  text-decoration: none;
}
.product-list p {
  margin: 0;
}
.product-list img {
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.list-link {
  width: 15px;
  height: 15px;
}
.product-list > ul {
  list-style: none;
  padding: 0;
}
.list-container {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--shadow);
  align-items: center;
  padding: 10px;
}

/* deals of the day  */
.deals-section,
.product-section {
  display: inline-block;
  width: 80%;
  margin: 20px 5px 5px 5px;
}
.deals-section > div,
.product-section > div {
  display: flex;
}
.deals,
.products {
  background-color: white;
  box-shadow: 1px 1px 5px 1px var(--shadow);
  width: 80%;
}
.products {
  background-color: white;
  box-shadow: 1px 1px 5px 1px var(--shadow);
  width: 100%;
}
.deals-header,
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 2px solid var(--bg);
}
.deals-header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product-header > div {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.deals-header p,
.product-header p {
  margin: 0;
  color: var(--grey);
}
.deals-header h5,
.product-header h5 {
  margin: 0;
  margin-right: 10px;
}
.deals-header button,
.product-header button {
  background-color: var(--blue);
  color: white;
  font-weight: var(--btn-wieght);
  font-size: 0.8rem;
  padding: 10px;
}
.deals button:hover,
.products button:hover {
  background-color: white;
  color: var(--blue);
}
.deal-products,
.music-products {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
}
.deal-products::-webkit-scrollbar {
  display: none;
}
.music-products::-webkit-scrollbar {
  display: none;
}
.music-products a {
  text-decoration: none;
}
.product img {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: contain;
  padding: 12px;
}
.product {
  text-align: center;
}
.product p {
  margin: 10px;
}
.title {
  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  text-overflow: ellipsis;
  font-weight: 600;
}
.deal-name {
  color: var(--grey);
}
.offer {
  color: var(--offer);
  width: 95%;
}
.deal-products a {
  text-decoration: none;
}
.product:hover img {
  padding: 0px;
}
.adv {
  margin-left: 10px;
}
.adv img {
  height: 100%;
}
.product-parent {
  position: relative;
}
.shift-right-link {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translate(0%, -50%);
  height: 100px;
  background-color: white;
  box-shadow: 1px 1px 5px 2px var(--shadow);
}
.shift-right-link img {
  margin-top: 30px;
}

/* media queries */
@media screen and (max-width: 350px) {
  .deals-header h5 {
    font-size: 16px;
  }
  #list-link {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .product-header h5,
  .product-header p {
    font-size: 16px;
    width: 18ch;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 590px) {
  .search-input {
    display: none;
  }
  .deals-header img,
  .deals-header p {
    display: none;
  }
  .product-parent {
    display: none;
  }
  .product-list {
    display: inline-block;
  }
  .deals-section,
  .product-section {
    width: 97%;
  }
}
@media screen and (max-width: 645px) {
  #more {
    display: none;
  }
}
@media screen and (max-width: 786px) {
  .action-container a {
    display: none;
  }
  .product-parent,
  .music-products {
    display: none;
  }
  .product-list {
    display: inline-block;
  }
  .deals-section,
  .product-section {
    width: 97%;
  }
}
@media screen and (max-width: 1114px) {
  header {
    max-width: 1114px;
    padding: 10px 10px;
  }
  [type="search"] {
    width: 10rem;
  }
}
@media screen and (max-width: 1250px) {
  .categories {
    justify-content: start;
  }
  .adv {
    display: none;
  }
  .deals,
  .products {
    width: 100%;
  }
}
@media screen and (max-width: 1580px) and (min-width: 1251px) {
  .adv img {
    width: 100%;
    object-fit: contain;
  }
}
@media screen and (max-width: 1780px) and (min-width: 1581px) {
  .adv img {
    width: 100%;
    object-fit: fill;
  }
}
@media screen and (min-width: 1890px) {
  .deals-section > div {
    width: 102%;
  }
}
