body {
  box-sizing: border-box;
}
header {
  display: flex;
  width: 100vw;
  min-width: 1380px;
  background-color: #2874f1;
  justify-content: space-around;
  align-items: center;
  padding: 10px 200px;
}
.header-search {
  display: flex;
  gap: 8px;
}
.header-search svg {
  vertical-align: middle;
}
.search-input {
  display: flex;
  background-color: white;
  border: #0d5ea0;
  padding: 5px;
}
[type="search"] {
  background-color: inherit;
  border: none;
  width: 30rem;
}
[type="search"]::placeholder {
  color: gray;
  font-size: 0.9rem;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-actions > button {
  background-color: white;
  color: #2874f1;
  border: none;
  margin: 5px 0px;
  width: 5rem;
  font-weight: 400;
}
.action-container {
  display: flex;
  gap: 3px;
}
.action-container > a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .search-input {
    display: none;
  }
  .logo {
    width: 100px;
    height: 70px;
  }
  .header-actions {
    font-size: x-large;
  }
  header button {
    font-size: x-large;
  }
}
